<!--The content below is only a placeholder and can be replaced.-->
<header>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <h2>Ejercicio Angular-redux!</h2>
    </nav>
  </div>
</header>
<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <app-items [items]="items | async" (selected)="selectItem($event)" (deleted)="deleteItem($event)"></app-items>
      </div>
      <div class="col">
        <app-item-details (saved)="saveItem($event)" (cancelled)="resetItem($event)" [item]="selectedItem | async">Select an Item</app-item-details>
      </div>
    </div>
  </div>
</section>
<hr>
<section>
    <div class="row">
      <div class="col">
          <app-posts></app-posts>
      </div>
    </div>
</section>
<footer>
  <div>App by: L.I. Jacob Gutierrez
    <i>FrontEnd Developer</i>
  </div>
</footer>